<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
</head>



<body>
    <nav class="navbar navbar-expand-sm bg-light">

      
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          
         
        </ul>
      
      </nav>


      <div class="card" style="width: 18rem; ">
            <ul class="list-group list-group-flush" style="width: 90%; margin-left:80%; margin-right:20%">
              <li class="list-group-item" ><center>Details</center></li>
              Title: <li class="list-group-item">  </li>
              Author: <li class="list-group-item">  </li>
              Publisher: <li class="list-group-item"> </li>
              Date of publication: <li class="list-group-item">13/09/2007</li>
              Distributor's name: <li class="list-group-item">  </li>
             Price: <li class="list-group-item">540/-</li>
              About<li class="list-group-item"> <textarea name="comment" > </textarea> </li>
            </ul>
          </div>